[Unit]
Description=%i service with docker compose
PartOf=docker.service
After=docker.service

[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/usr/bin/fula/
ExecStart=/bin/sh -c 'if ! [ -s /usr/bin/fula/fula.sh ] || ! /usr/bin/fula/fula.sh start; then  echo "failed";  docker run --rm functionland/fxsupport:release ;  docker cp fula_fxsupport:/linux/. /usr/bin/fula/;  sync ;exit 1;  fi'
ExecStop=/usr/bin/fula/fula.sh stop
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target