docker/go-fula/go-fula
docker/sugarfunge-node/sugarfunge-api
docker/sugarfunge-node/sugarfunge-node
.history/*
docker/windows-amd64/server/node_modules/*
docker/windows-amd64/server/out/*
docker/windows-amd64/FulaSetup.exe
docker/windows-amd64/.history
docker/windows-amd64/cert
/docker/fxsupport/linux/__pycache__
