version: "3.9"
services:

  watchtower:
    image: containrrr/watchtower:latest
    restart: always
    container_name: fula_updater
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/timezone:/etc/timezone:ro
    environment:
      - DOCKER_API_VERSION=1.44
      - WATCHTOWER_DEBUG=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_NO_PULL=false
      - WATCHTOWER_MONITOR_ONLY=false
      - WATCHTOWER_POLL_INTERVAL=3600
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

  kubo:
    image: ipfs/kubo:release
    container_name: ipfs_host
    restart: always
    depends_on:
      - fxsupport
    volumes:
      - shared-volume-external:/uniondrive:rw
      - /media/pi:/storage:rw,rshared
      - /home/pi/.internal:/internal:rw,rshared
      - /usr/bin/fula/kubo:/container-init.d:rw,rshared,uid=1000,gid=1000
      - /uniondrive/ipfs_staging:/export:rw,rshared,uid=1000,gid=1000
    ports:
      - "4001:4001"
      - "4001:4001/udp"
      - "127.0.0.1:8081:8081"
      - "127.0.0.1:5001:5001"
    environment:
      - IPFS_PROFILE=flatfs
      - IPFS_PATH=/internal/ipfs_data
    dns:
      - 8.8.8.8
      - 8.8.4.4
    security_opt:
      - no-new-privileges:true
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
  
  ipfs-cluster:
    image: functionland/ipfs-cluster:release
    container_name: ipfs_cluster
    restart: always
    #extra_hosts:
    #- "host.docker.internal:host-gateway"
    depends_on:
      - kubo
    volumes:
      - shared-volume-external:/uniondrive:rw
      - /home/pi/.internal:/internal:rw,rshared
      - /usr/bin/fula/ipfs-cluster:/container-init.d:rw,rshared,uid=1000,gid=1000
      - /usr/bin/fula/.env.cluster:/.env.cluster
    entrypoint: /container-init.d/ipfs-cluster-container-init.d.sh
    network_mode: "host"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - .env.cluster
    security_opt:
      - no-new-privileges:true
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

  go-fula:
    image: $GO_FULA
    restart: always
    container_name: fula_go
    volumes:
      - /media/pi/:/storage:rw,rshared
      - /var/run/dbus:/var/run/dbus
      - $WPA_SUPLICANT_PATH/wpa_supplicant.conf:$WPA_SUPLICANT_PATH/wpa_supplicant.conf
      - /home/pi/.internal/:/internal:rw,rshared
      - shared-volume-external:/uniondrive:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/NetworkManager/system-connections:/etc/NetworkManager/system-connections
      - /home/pi/:/home:rw,rshared
      - /usr/bin/fula/.env.cluster:/.env.cluster
      - /usr/bin/fula/.env.gofula:/.env
    network_mode: "host"
    devices:
       - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    security_opt:
      - no-new-privileges:true
    dns:
      - 8.8.8.8
      - 8.8.4.4
    depends_on:
      - fxsupport
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

  fxsupport:
    image: $FX_SUPPROT
    restart: always
    container_name: fula_fxsupport
    command: tail -F /dev/null
    dns:
      - 8.8.8.8
      - 8.8.4.4
    security_opt:
      - no-new-privileges:true
    read_only: true
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - watchtower
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
volumes:
 shared-volume:
 shared-volume-external:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /uniondrive