[Unit]
Description=Initial Firewall
DefaultDependencies=no
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/bin/fula/firewall.sh

[Install]
WantedBy=multi-user.target
