[Unit]
Description=Fula Readiness Check Service
After=docker.service fula.service
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /usr/bin/fula/readiness-check.py
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
