[Unit]
Description=%i Union Drive service with docker compose

[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/usr/bin/fula/  # Specify the directory where union-drive.sh is located
ExecStart=/bin/bash -c 'chmod +x ./union-drive.sh && bash ./union-drive.sh'
ExecStop=/bin/bash -c 'pkill -f union-drive.sh'
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
