<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/webui/public/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <div id="docker-card" class="card">
            <h3>Docker Status</h3>
            <div class="card-content">
                <div class="row">
                    <span class="title">fula_go:</span>
                    <span id="fula_go-status"><div class="loading-spinner"></div></span>
                    <span id="fula_go-hint" class="hint" style="display: none;">&#9432;</span>
                </div>
                <div class="row">
                    <span class="title">fula_node:</span>
                    <span id="fula_node-status"><div class="loading-spinner"></div></span>
                    <span id="fula_node-hint" class="hint" style="display: none;">&#9432;</span>
                </div>
                <div class="row">
                    <span class="title">ipfs_host:</span>
                    <span id="ipfs_host-status"><div class="loading-spinner"></div></span>
                    <span id="ipfs_host-hint" class="hint" style="display: none;">&#9432;</span>
                </div>
                <div class="row">
                    <span class="title">ipfs_cluster:</span>
                    <span id="ipfs_cluster-status"><div class="loading-spinner"></div></span>
                    <span id="ipfs_cluster-hint" class="hint" style="display: none;">&#9432;</span>
                </div>
                <div class="row">
                    <span class="title">fula_fxsupport:</span>
                    <span id="fula_fxsupport-status"><div class="loading-spinner"></div></span>
                    <span id="fula_fxsupport-hint" class="hint" style="display: none;">&#9432;</span>
                </div>
                <button id="refresh-disk-button" class="button">Refresh</button>
            </div>
        </div>
        <div id="earnings-card" class="card">
            <h3>Rewards</h3>
            <div class="card-content">
                <div class="row">
                    <span class="title">Total Fula:</span>
                    <span id="total-fula">-</span>
                </div>
                <button id="refresh-earnings-button" class="button">Refresh</button>
            </div>
        </div>
        <div class="button-container">
            <button id="go-pools-button" class="button">Go to Pools</button>
        </div>
    </div>
    <footer class="footer">
        <p>Version: <span id="version-number"></span>
            <button id="reset-button" class="reset-button">&#8635;</button>
        </p>
    </footer>    
    <script src="/webui/public/js/bundle/home.bundle.js"></script>
    <script src="/webui/public/js/bundle/common.bundle.js"></script>
</body>
</html>
